# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# img
*.img
*.png
logo.jpg
img/

# videos
*.mp4

# log
*.log

pasword.txt

# Visual Studio LightSwitch build output
**/*.HTMLClient/GeneratedArtifacts
**/*.DesktopClient/GeneratedArtifacts
**/*.DesktopClient/ModelManifest.xml
**/*.Server/GeneratedArtifacts
**/*.Server/ModelManifest.xml
_Pvt_Extensions